@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Salsa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #ddd;
  scrollbar-width: thin;
  scrollbar-color: #4d7fff #ddd;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #af3b75 0%, #93436b 50%);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}

body::-webkit-scrollbar-button {
  background-color: #dd6ba4;
  border-radius: 5px;
}

/* START NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #753756;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  z-index: 9;
}

/* START LEFTNAV */

.leftnav {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-name {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: "Salsa", cursive;
}

ion-icon {
  font-size: 2rem;
  color: #db0f75;
}
/* END LEFTNAV */

/* START NAVLIST */

header {
  display: block;
  border: 1px solid red;
}

.rightnav {
  display: flex;
  margin-right: 1.5rem;
}

.nav-item {
  list-style: none;
  font-size: 1.5rem;
}

.nav-item a {
  text-decoration: none;
  color: white;
  user-select: none;
  margin: 1rem;
}

.nav-item a:hover,
h2 {
  color: #db0f75;
}

/* END NAVLIST */

/* START SECTION */
/* DESCRIPTION SECTION */

.description,
.twitter-logo {
  margin-top: 1rem;
}

.paragraph-class {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-align: left;
  line-height: 1.75rem;
}

#about {
  /* margin-left: 5rem; */
  width: 50%;
}

#aboutmesection {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px auto 0 auto;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.08rem;
  /* CEK INI BIAR FLUIDDD */
  font-family: "Salsa", cursive;
  color: #753756;
}

.profilepic {
  max-width: 100%;
}
/*aboutmesection SECTION END*/

/*GALLERY START*/
#gallery-section {
  width: 80%;
  scroll-margin: 5rem;
  margin: auto;
  height: auto;
}

.year-title {
  width: fit-content;
  color: white;
  background-color: #93436b;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

.imgs-container {
  columns: 4;
  margin: 1rem auto;
}

.imgs-container figure {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

figure img {
  max-width: 100%;
  border-radius: 15px;
}

hr {
  overflow: visible;
  margin-top: 5rem;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
/*GALLERY ENDS*/

/* MEDIA */
@media (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 1200px) {
  .imgs-container {
    width: calc(100% - 40px);
    columns: 3;
  }
}

@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }

  #about {
    margin: 1rem;
  }

  #aboutmesection {
    flex-direction: column-reverse;
    margin-top: 3.75rem;
    height: auto;
  }

  .imgs-container {
    width: calc(100% - 40px);
    columns: 2;
  }
}

@media (max-width: 480px) {
  .imgs-container {
    width: calc(100% - 40px);
    columns: 1;
  }
}
