* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  background: #ddd;
  scrollbar-width: thin;
  scrollbar-color: #4d7fff #ddd;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #af3b75 0%, #93436b 50%);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}

body::-webkit-scrollbar-button {
  background-color: #dd6ba4;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

nav li {
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.navbar-links a {
  text-decoration: none;
  color: black;
}

.navbar-links:hover {
  background-color: #dd6ba4;
}

.navbar-icons {
  font-size: 1rem;
  flex: 1;
  font-size: 1rem;
  user-select: none;
}

ion-icon {
  font-size: large;
  color: #93436b;
}

.navbar-toggle {
  display: none;
}

section {
  background-color: #dd6ba4;
  height: 25rem;
  margin: 1rem 0;
}

#aboutme {
  display: flex;
}

.profilepic {
  max-width: 80%;
}

@media screen and (max-width: 600px) {
  nav ul {
    flex-wrap: wrap;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    /* display: flex;
    flex-direction: row; */
    /* display: none; */
    width: 100%;
    /* text-align: center; */
  }

  /* .icons #menu-close{
    display: none;
  }

  #checkboxid{
    display: none;
  }

  #checkboxid:checked ~ .icons #menu-icon{
    display: none;
  }

  #checkboxid:checked ~ .icons #menu-close{
    display: block;
  }

  .navbar-toggle #checkboxid:checked ~ .navbar-links{
    display: flex;
    width: 100%;
    flex-direction: row;
  } */
}
